In [6]:
import pandas as pd

In [153]:
import matplotlib.pylab as plt

In [154]:
import numpy as np

In [9]:
df = pd.read_csv('owid-covid-data.csv')

In [35]:
#look at the top linees of the data
print (df.head(3))

  iso_code      continent location        date  total_cases  new_cases  \
0      ABW  North America    Aruba  2020-03-13          2.0        2.0
1      ABW  North America    Aruba  2020-03-19          NaN        NaN
2      ABW  North America    Aruba  2020-03-20          4.0        2.0

   new_cases_smoothed  total_deaths  new_deaths  new_deaths_smoothed  ...  \
0                 NaN           0.0         0.0                  NaN  ...
1               0.286           NaN         NaN                  0.0  ...
2               0.286           0.0         0.0                  0.0  ...

   gdp_per_capita  extreme_poverty  cardiovasc_death_rate  \
0       35973.781              NaN                    NaN
1       35973.781              NaN                    NaN
2       35973.781              NaN                    NaN

   diabetes_prevalence  female_smokers  male_smokers  handwashing_facilities  \
0                11.62             NaN           NaN                     NaN
1                11.62             NaN           NaN                     NaN
2                11.62             NaN           NaN                     NaN

   hospital_beds_per_thousand  life_expectancy  human_development_index
0                         NaN            76.29                      NaN
1                         NaN            76.29                      NaN
2                         NaN            76.29                      NaN

[3 rows x 41 columns]

In [46]:
# I want to know the total amount of cases and deaths in the world 
df.total_cases.sum()

5785377850.0

In [47]:
df.total_deaths.sum()

220561495.0

In [109]:
# I want to see the total cases in the USA
df_america = df[df.location == "United States"]

In [111]:
df_america[df_america.total_cases == df_america.total_cases.max()]

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
46690,USA,North America,United States,2020-10-13,7804197.0,41653.0,49378.143,215085.0,314.0,699.0,...,54225.446,1.2,151.089,10.79,19.1,24.6,NaN,2.77,78.86,0.924

In [67]:
#set a new variable that doesnt include world 
data_noworld= df[df.location != "World"]

In [69]:
#this shows which country had the most deaths and it happens to be the USA  
data_noworld[data_noworld.total_deaths == data_noworld.total_deaths.max()]

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
46690,USA,North America,United States,2020-10-13,7804197.0,41653.0,49378.143,215085.0,314.0,699.0,...,54225.446,1.2,151.089,10.79,19.1,24.6,NaN,2.77,78.86,0.924

In [112]:
#just me playing around with pandas seeing what funciton do what
data_noworld.groupby(['total_cases']).mean().sort_values('total_deaths', ascending=False)

,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,new_cases_per_million,new_cases_smoothed_per_million,total_deaths_per_million,new_deaths_per_million,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
total_cases,,,,,,,,,,,,,,,,,,,,,
7804197.0,41653.000000,49378.143000,215085.000000,314.000000,699.000000,23577.446000,125.839000,149.177000,649.798000,0.949000,...,54225.446000,1.200000,151.089000,10.790000,19.100000,24.600000,NaN,2.770000,78.860000,0.924000
7762544.0,43597.000000,49242.714000,214771.000000,394.000000,711.000000,23451.607000,131.712000,148.768000,648.850000,1.190000,...,54225.446000,1.200000,151.089000,10.790000,19.100000,24.600000,NaN,2.770000,78.860000,0.924000
7718947.0,54271.000000,48000.429000,214377.000000,590.000000,711.857000,23319.895000,163.959000,145.015000,647.659000,1.782000,...,54225.446000,1.200000,151.089000,10.790000,19.100000,24.600000,NaN,2.770000,78.860000,0.924000
7664676.0,58082.000000,47484.429000,213787.000000,1014.000000,724.429000,23155.936000,175.473000,143.456000,645.877000,3.063000,...,54225.446000,1.200000,151.089000,10.790000,19.100000,24.600000,NaN,2.770000,78.860000,0.924000
7606594.0,56800.000000,46968.571000,212773.000000,972.000000,709.286000,22980.463000,171.600000,141.898000,642.814000,2.937000,...,54225.446000,1.200000,151.089000,10.790000,19.100000,24.600000,NaN,2.770000,78.860000,0.924000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15.0,0.945455,0.486844,0.131818,0.009091,0.002711,149.719795,3.495882,1.763474,0.999091,0.027014,...,23157.621167,17.736364,234.946008,10.880829,12.766176,30.025000,54.893600,2.872615,74.972557,0.753750
3.0,0.327902,0.114603,0.095723,0.006110,0.004395,86.199287,0.793175,0.418298,0.197428,0.035568,...,15864.061737,19.352247,259.271345,7.907279,9.351485,30.691045,47.344185,2.222736,76.361772,0.681012
2.0,0.477987,0.157766,0.050314,0.018868,0.007772,13.427531,2.872233,0.255603,0.002821,0.002091,...,14987.611480,16.052451,275.292664,7.497197,12.479293,38.606599,42.810148,3.143681,71.571073,0.681022
1.0,0.219200,0.060901,0.009600,0.004800,0.000000,27.705416,3.229176,0.069365,0.002270,0.002160,...,17078.322800,12.540431,268.822043,7.582835,10.111579,33.153165,45.711268,2.822833,72.572733,0.692007
0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,32320.611547,2.158839,234.474193,7.760927,13.304276,32.334771,73.516193,3.653659,77.524180,0.812030

In [39]:
df.tail(3)

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
49875,NaN,NaN,International,2020-10-11,696.0,NaN,NaN,7.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49876,NaN,NaN,International,2020-10-12,696.0,NaN,NaN,7.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49877,NaN,NaN,International,2020-10-13,696.0,NaN,NaN,7.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [40]:
df.head(3)

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
0,ABW,North America,Aruba,2020-03-13,2.0,2.0,NaN,0.0,0.0,NaN,...,35973.781,NaN,NaN,11.62,NaN,NaN,NaN,NaN,76.29,NaN
1,ABW,North America,Aruba,2020-03-19,NaN,NaN,0.286,NaN,NaN,0.0,...,35973.781,NaN,NaN,11.62,NaN,NaN,NaN,NaN,76.29,NaN
2,ABW,North America,Aruba,2020-03-20,4.0,2.0,0.286,0.0,0.0,0.0,...,35973.781,NaN,NaN,11.62,NaN,NaN,NaN,NaN,76.29,NaN

In [41]:
print(df.tail(3))

      iso_code continent       location        date  total_cases  new_cases  \
49875      NaN       NaN  International  2020-10-11        696.0        NaN
49876      NaN       NaN  International  2020-10-12        696.0        NaN
49877      NaN       NaN  International  2020-10-13        696.0        NaN

       new_cases_smoothed  total_deaths  new_deaths  new_deaths_smoothed  ...  \
49875                 NaN           7.0         NaN                  NaN  ...
49876                 NaN           7.0         NaN                  NaN  ...
49877                 NaN           7.0         NaN                  NaN  ...

       gdp_per_capita  extreme_poverty  cardiovasc_death_rate  \
49875             NaN              NaN                    NaN
49876             NaN              NaN                    NaN
49877             NaN              NaN                    NaN

       diabetes_prevalence  female_smokers  male_smokers  \
49875                  NaN             NaN           NaN
49876                  NaN             NaN           NaN
49877                  NaN             NaN           NaN

       handwashing_facilities  hospital_beds_per_thousand  life_expectancy  \
49875                     NaN                         NaN              NaN
49876                     NaN                         NaN              NaN
49877                     NaN                         NaN              NaN

       human_development_index
49875                      NaN
49876                      NaN
49877                      NaN

[3 rows x 41 columns]

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49878 entries, 0 to 49877
Data columns (total 41 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   iso_code                         49590 non-null  object
 1   continent                        49302 non-null  object
 2   location                         49878 non-null  object
 3   date                             49878 non-null  object
 4   total_cases                      49242 non-null  float64
 5   new_cases                        49018 non-null  float64
 6   new_cases_smoothed               48236 non-null  float64
 7   total_deaths                     49242 non-null  float64
 8   new_deaths                       49018 non-null  float64
 9   new_deaths_smoothed              48236 non-null  float64
 10  total_cases_per_million          48954 non-null  float64
 11  new_cases_per_million            48954 non-null  float64
 12  new_cases_smoothed_per_million   48171 non-null  float64
 13  total_deaths_per_million         48954 non-null  float64
 14  new_deaths_per_million           48954 non-null  float64
 15  new_deaths_smoothed_per_million  48171 non-null  float64
 16  new_tests                        18041 non-null  float64
 17  total_tests                      18466 non-null  float64
 18  total_tests_per_thousand         18466 non-null  float64
 19  new_tests_per_thousand           18041 non-null  float64
 20  new_tests_smoothed               20431 non-null  float64
 21  new_tests_smoothed_per_thousand  20431 non-null  float64
 22  tests_per_case                   18809 non-null  float64
 23  positive_rate                    19271 non-null  float64
 24  tests_units                      21288 non-null  object
 25  stringency_index                 41425 non-null  float64
 26  population                       49590 non-null  float64
 27  population_density               47307 non-null  float64
 28  median_age                       44445 non-null  float64
 29  aged_65_older                    43781 non-null  float64
 30  aged_70_older                    44214 non-null  float64
 31  gdp_per_capita                   43863 non-null  float64
 32  extreme_poverty                  29251 non-null  float64
 33  cardiovasc_death_rate            44432 non-null  float64
 34  diabetes_prevalence              46027 non-null  float64
 35  female_smokers                   34743 non-null  float64
 36  male_smokers                     34300 non-null  float64
 37  handwashing_facilities           20871 non-null  float64
 38  hospital_beds_per_thousand       40097 non-null  float64
 39  life_expectancy                  48960 non-null  float64
 40  human_development_index          42883 non-null  float64
dtypes: float64(36), object(5)
memory usage: 15.6+ MB

In [43]:
#find the max amount of cases
df.total_cases.max()

37875422.0

In [130]:
data_noworld.location.unique()

array(['Aruba', 'Afghanistan', 'Angola', 'Anguilla', 'Albania', 'Andorra',
       'United Arab Emirates', 'Argentina', 'Armenia',
       'Antigua and Barbuda', 'Australia', 'Austria', 'Azerbaijan',
       'Burundi', 'Belgium', 'Benin', 'Bonaire Sint Eustatius and Saba',
       'Burkina Faso', 'Bangladesh', 'Bulgaria', 'Bahrain', 'Bahamas',
       'Bosnia and Herzegovina', 'Belarus', 'Belize', 'Bermuda',
       'Bolivia', 'Brazil', 'Barbados', 'Brunei', 'Bhutan', 'Botswana',
       'Central African Republic', 'Canada', 'Switzerland', 'Chile',
       'China', "Cote d'Ivoire", 'Cameroon',
       'Democratic Republic of Congo', 'Congo', 'Colombia', 'Comoros',
       'Cape Verde', 'Costa Rica', 'Cuba', 'Curacao', 'Cayman Islands',
       'Cyprus', 'Czech Republic', 'Germany', 'Djibouti', 'Dominica',
       'Denmark', 'Dominican Republic', 'Algeria', 'Ecuador', 'Egypt',
       'Eritrea', 'Western Sahara', 'Spain', 'Estonia', 'Ethiopia',
       'Finland', 'Fiji', 'Falkland Islands', 'France', 'Faeroe Islands',
       'Gabon', 'United Kingdom', 'Georgia', 'Guernsey', 'Ghana',
       'Gibraltar', 'Guinea', 'Gambia', 'Guinea-Bissau',
       'Equatorial Guinea', 'Greece', 'Grenada', 'Greenland', 'Guatemala',
       'Guam', 'Guyana', 'Hong Kong', 'Honduras', 'Croatia', 'Haiti',
       'Hungary', 'Indonesia', 'Isle of Man', 'India', 'Ireland', 'Iran',
       'Iraq', 'Iceland', 'Israel', 'Italy', 'Jamaica', 'Jersey',
       'Jordan', 'Japan', 'Kazakhstan', 'Kenya', 'Kyrgyzstan', 'Cambodia',
       'Saint Kitts and Nevis', 'South Korea', 'Kuwait', 'Laos',
       'Lebanon', 'Liberia', 'Libya', 'Saint Lucia', 'Liechtenstein',
       'Sri Lanka', 'Lesotho', 'Lithuania', 'Luxembourg', 'Latvia',
       'Morocco', 'Monaco', 'Moldova', 'Madagascar', 'Maldives', 'Mexico',
       'Macedonia', 'Mali', 'Malta', 'Myanmar', 'Montenegro', 'Mongolia',
       'Northern Mariana Islands', 'Mozambique', 'Mauritania',
       'Montserrat', 'Mauritius', 'Malawi', 'Malaysia', 'Namibia',
       'New Caledonia', 'Niger', 'Nigeria', 'Nicaragua', 'Netherlands',
       'Norway', 'Nepal', 'New Zealand', 'Oman', 'Pakistan', 'Panama',
       'Peru', 'Philippines', 'Papua New Guinea', 'Poland', 'Puerto Rico',
       'Portugal', 'Paraguay', 'Palestine', 'French Polynesia', 'Qatar',
       'Romania', 'Russia', 'Rwanda', 'Saudi Arabia', 'Sudan', 'Senegal',
       'Singapore', 'Sierra Leone', 'El Salvador', 'San Marino',
       'Somalia', 'Serbia', 'South Sudan', 'Sao Tome and Principe',
       'Suriname', 'Slovakia', 'Slovenia', 'Sweden', 'Swaziland',
       'Sint Maarten (Dutch part)', 'Seychelles', 'Syria',
       'Turks and Caicos Islands', 'Chad', 'Togo', 'Thailand',
       'Tajikistan', 'Timor', 'Trinidad and Tobago', 'Tunisia', 'Turkey',
       'Taiwan', 'Tanzania', 'Uganda', 'Ukraine', 'Uruguay',
       'United States', 'Uzbekistan', 'Vatican',
       'Saint Vincent and the Grenadines', 'Venezuela',
       'British Virgin Islands', 'United States Virgin Islands',
       'Vietnam', 'Kosovo', 'Yemen', 'South Africa', 'Zambia', 'Zimbabwe',
       'International'], dtype=object)

In [135]:
# how to calculate fatality rate you divide the total death by total cases


df_noworld_deathrate= data_noworld.groupby('location').total_deaths.max() / data_noworld.groupby('location').total_cases.max() * 100

In [136]:
df_noworld_deathrate

location
Afghanistan        3.706672
Albania            2.723186
Algeria            3.398779
Andorra            1.903172
Angola             3.424442
                    ...
Vietnam            3.153153
Western Sahara     0.130548
Yemen             28.988327
Zambia             2.218792
Zimbabwe           2.867473
Length: 211, dtype: float64

In [150]:
#know I want to calucate the median age 
df_age65 = data_noworld.groupby('location').aged_65_older.mean()

In [151]:
df_age65

location
Afghanistan        2.581
Albania           13.188
Algeria            6.211
Andorra              NaN
Angola             2.405
                   ...
Vietnam            7.150
Western Sahara       NaN
Yemen              2.922
Zambia             2.480
Zimbabwe           2.822
Name: aged_65_older, Length: 211, dtype: float64

In [152]:
df_age65.corr(df_noworld_deathrate, method ='pearson') ** 2

0.0023755476051216962

In [ ]:
#the corrleation is very low and this makes me wonder. Isnt the age 65 or over more prone to face covid 19 problems.